.background__color__gradient{
    background: rgb(10,24,82);
    background: linear-gradient(180deg, rgba(10,24,82,1) 0%, rgba(1,1,48,1) 100%);
}

.background__nav{
    background: rgb(10,24,82);
}

$--main-color:#fff;
$--second-color: #000;