.background__color__gradient {
    background: rgb(10, 24, 82);
    background: linear-gradient(180deg, rgba(10, 24, 82, 1) 0%, rgba(1, 1, 48, 1) 100%);
}

.background__nav {
    background: rgb(10, 24, 82);
}

.blue__button {
    background: rgb(4, 165, 209);
    background: linear-gradient(90deg, rgba(4, 165, 209, 1) 0%, rgba(29, 66, 133, 1) 100%);
    border-radius: 30px;
    text-align: center;


}

$--main-color: #fff;
$--second-color: #000;