.background__color__gradient {
    background: rgb(10, 24, 82);
    background: linear-gradient(180deg, rgba(10, 24, 82, 1) 0%, rgba(1, 1, 48, 1) 100%);
}

.background__nav {
    background: rgb(10, 24, 82);
}

.background__color__white__gradient {
    background: rgb(241, 241, 241);
    background: linear-gradient(0deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.blue__button {
    background: rgb(4, 165, 209);
    background: linear-gradient(90deg, rgba(4, 165, 209, 1) 0%, rgba(29, 66, 133, 1) 100%);
    border-radius: 30px;
    text-align: center;
    color: white;


}

.purple__button {
    background: rgb(247, 97, 107);
    background: linear-gradient(270deg, rgba(247, 97, 107, 1) 0%, rgba(182, 36, 110, 1) 100%);
    border-radius: 30px;
    text-align: center;
    color: white;
}

.white__button {
   background: white;
    border-radius: 30px;
    text-align: center;
    color:  rgb(247, 97, 107);
}



$--main-color: #fff;
$--second-color: #000;
$--blue-color: #03A7D3A6;
$--purple-color: #F9636B;